#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--darkmaroon);
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  top: 0;
}

.no-mobile-main__theme {
  margin-bottom: 15px; 
}

.no-mobile__title {
  color: white;
}

.no-mobile__block {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;
  position: relative;
}

.no-mobile-talk {
  width: 70px;
  height: 30px;
  top: 90px;
  left: 15px;
  background-color:var(--darkyellow);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-mobile-talk2 {
  width: 70px;
  height: 30px;
  top: 260px;
  left: 10px;
  background-color:var(--darkyellow);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-mobile-talk3 {
  width: 70px;
  height: 30px;
  top: 505px;
  left: 10px;
  background-color:var(--darkyellow);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-mobile-talk__title {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
